.collection {
  width: 32%;
  height: 280px;
  display: flex;
  margin: 1rem 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;

  .bigOne {
    width: 65%;
    height: 100%;
    margin-right: 0.19rem;
  }

  .littlesOne {
    width: 35%;
    display: flex;
    flex-direction: column;

    div {
      height: 50%;

      &:nth-child(1) {
        margin-bottom: 0.1rem;
      }
    }
  }

  @media only screen and (max-width: 970px) {
    & {
      height: 240px;
    }
  }

  @media only screen and (max-width: 910px) {
    & {
      height: 200px;
    }
  }
  @media only screen and (max-width: 746px) {
    & {
      width: 48%;
      height: 250px;
    }
  }

  @media only screen and (max-width: 490px) {
    & {
      height: 240px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}
