.picture {
  width: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;

  img.background {
    filter: blur(2px) brightness(0.4);
    width: 100%;
  }

  .picture-owner {
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .img-containner {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      background: url("../../assets/img/test.jpg");
      background-size: cover;

      img {
        width: 100%;
      }
    }

    p.by {
      color: white;
      font-weight: 300;
      font-size: 0.8rem;
      margin: 0.4rem 0;
    }

    p.user-name {
      color: white;
      font-weight: 400;
    }
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    .imgg-containner {
      width: 33%;
      text-align: center;
    }

    .one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      p {
        color: white;
        margin-left: 0.5rem;
      }
    }

    img {
      height: 2rem;
      cursor: pointer;
    }
  }
}
