@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$costum-gray: #313131;

.not-found {
  background-image: url("../../assets/img/wall.jpg");
  background-size: cover;
  height: 100vh;

  .filterr {
    backdrop-filter: brightness(0.5) blur(4px);
    -webkit-backdrop-filter: brightness(0.5) blur(4px);
    @include flex-column;
    padding: 3rem 0;
    height: 100%;

    .brand {
      @include flex-column;
      color: $costum-gray;
      font-weight: 900;

      p {
        pointer-events: none;
      }
    }

    h1 {
      font-size: 12rem;
      color: $costum-gray;
      margin: 6rem 0;
      pointer-events: none;
    }

    .bottom {
      text-align: center;

      p {
        font-size: 1.4rem;
        color: $costum-gray;
        font-weight: 600;
        margin-bottom: 1.8rem;
      }

      button {
        font-family: "Lato";
        cursor: pointer;
        background-color: $costum-gray;
        border: 1px solid transparent;
        padding: 0.6rem 2rem;
        color: white;
        font-weight: 300;
        outline: none;
      }
    }
  }
}
