.full-pic {
  height: 100vh;
  width: 100vw;

  .filter {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #313131;
    }

    backdrop-filter: blur(10px) brightness(0.5);
    -webkit-backdrop-filter: blur(10px) brightness(0.5);

    .userANDclose {
      display: flex;
      justify-content: space-between;
      width: 80%;

      .user-info {
        display: flex;
        align-items: center;

        .user-name {
          margin-left: 1rem;
          color: white;
          p.by {
            font-weight: 300;
          }

          p.name {
            font-size: 1.3rem;
            cursor: pointer;
          }
        }

        .img-containner {
          height: 50px;
          width: 50px;
          border-radius: 100%;
        }
      }

      img {
        height: 2.5rem;
        cursor: pointer;
      }
    }

    img.main-pic {
      width: 50%;
      margin: 2rem 0;
      border-radius: 5px;
      border: 1.3px solid white;
    }

    .info {
      width: 40%;
      height: 400px;
      margin: 2rem 0;
      display: flex;

      .left-part,
      .right-part {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid green;

        .item {
          padding-left: 35%;
          width: 100%;
          margin: 2rem 0;
          color: white;
          // border: 1px solid red;

          span {
            font-weight: 300;
            font-size: 0.8rem;
          }
        }
      }
    }

    .controls {
      display: flex;

      .one {
        display: flex;
        align-items: center;
        color: white;

        p {
          margin-left: -1.5rem;
        }
      }

      img {
        height: 2rem;
        margin: 0 2rem;
        cursor: pointer;
      }
    }

    .hidee {
      display: none;
    }

    @media only screen and (max-width: 900px) {
      img.main-pic {
        width: 70%;
      }
    }
  }
}

.full-pic-loading {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
