.full-pic {
  height: 100vh;
  width: 100vw;

  .filter {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    backdrop-filter: blur(10px) brightness(0.6);
    -webkit-backdrop-filter: blur(10px) brightness(0.6);

    .userANDclose {
      display: flex;
      justify-content: space-between;
      width: 80%;

      .user-info {
        display: flex;
        align-items: center;

        .user-name {
          margin-left: 1rem;
          color: white;
          p.by {
            font-weight: 300;
          }

          p.name {
            font-size: 1.3rem;
            cursor: pointer;
          }
        }

        .img-containner {
          height: 50px;
          width: 50px;
          border-radius: 100%;
        }
      }

      img {
        height: 2.5rem;
        cursor: pointer;
      }
    }

    img.main-pic {
      width: 50%;
      margin: 2rem 0;
      border-radius: 5px;
      border: 1.3px solid white;
    }

    .controls {
      display: flex;

      .one {
        display: flex;
        align-items: center;
        color: white;

        p {
          margin-left: -1.5rem;
        }
      }

      img {
        height: 2rem;
        margin: 0 2rem;
        cursor: pointer;
      }
    }
  }
}
