.header-profile {
  background-color: #313131;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 12rem;

  .header-content {
    height: 200px;
    background-color: white;
    width: 85%;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 1.3rem;

    .menu-icon,
    .search-icon {
      height: 2rem;
      cursor: pointer;
    }

    .middle-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .user-picture {
        height: 5rem;
        width: 5rem;
        border: 2px solid white;
        border-radius: 100%;
        background-image: url("../../assets/img/user.png");
        background-size: cover;
        position: absolute;
        top: -2.5rem;
      }

      .user-name {
        margin-top: 3rem;
        font-weight: 700;
      }

      .user-website {
        color: gray;
        font-weight: 400;
        font-size: 0.9rem;
        margin-top: 0.4rem;
      }

      .links {
        display: flex;
        position: absolute;
        justify-content: center;
        bottom: 0;
        width: 400px;

        p {
          padding: 0.6rem 0;
          cursor: pointer;
          position: relative;
          width: 135px;
          // margin: 0 1rem;
        }
      }

      .one::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 5px;
        width: 133px;
        background-color: black;
        transition: left 0.5s ease-in-out;
      }

      .two::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 132px;
        height: 4px;
        border-radius: 5px;
        width: 133px;
        background-color: black;
        transition: left 0.5s ease-in-out;
      }

      .three::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 266px;
        height: 4px;
        border-radius: 5px;
        width: 133px;
        background-color: black;
        transition: left 0.5s ease-in-out;
      }

      @media only screen and (max-width: 505px) {
        .links {
          width: 240px;
          font-size: 14px;

          p {
            width: 120px;
          }
        }

        .one::after {
          width: 80px;
        }

        .two::after {
          width: 80px;
          left: 80px;
        }

        .three::after {
          width: 80px;
          left: 160px;
        }
      }
    }
  }
}
