.picture-grid {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .col {
    width: 32%;
  }

  @media only screen and (max-width: 768px) {
    & {
      flex-direction: column;

      .col {
        width: 100%;
      }
    }
  }
}
