.home {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding-bottom: 2rem;

  .picture-grid {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col {
      width: 32%;
    }
  }

  .more-btn {
    border: 3px solid black;
    color: rgb(31, 31, 31);
    background-color: transparent;
    padding: 0.7rem 3.5rem;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 3rem auto;
    display: block;

    &:hover {
      background-color: #383737;
      color: white;
      transition: all 0.8s;
      border-color: #383737;
      font-weight: 500;
    }
  }
}
