.login-form {
  min-height: 100vh;
  background: url("../../assets/img/form-back2.png") bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem 5.4rem;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    .brand {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      p {
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }

    .welcome {
      margin-bottom: 2.8rem;
      letter-spacing: 1.4px;
      font-weight: 400;
      font-size: 1.8rem;
    }

    .firebase-error {
      width: 230px;
      color: red;
    }

    button.submit-btn {
      width: 230px;
      border: 0;
      font-size: 0.9rem;
      background-color: rgb(32, 32, 32);
      color: white;
      margin-top: 1rem;
      padding: 0.5rem 2rem;
      outline: none;

      &:hover {
        background-color: black;
      }
    }

    .go-singup {
      font-size: 0.8rem;
      margin-top: 1rem;
      font-weight: 200;

      strong {
        cursor: pointer;
        font-weight: 600;
      }
    }

    .log-facebook {
      margin-top: 2.5rem;
      width: 230px;

      .or {
        position: relative;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 90px;
          height: 1.3px;
          background-color: gray;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 90px;
          height: 1.3px;
          background-color: gray;
        }
      }

      .facebook-choosen {
        font-size: 0.9rem;
        text-align: center;
        font-weight: 300;

        .my-facebook-button-class {
          background-color: transparent;
          border: 0;
          color: white;
          margin-left: 0.2rem;
          outline: none;

          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}
