.menu-containner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow-y: scroll;
  transition: left 0.8s ease;

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #1a1a1a;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .close-containner img.close-icon {
      float: right;
      height: 1.7rem;
      cursor: pointer;
      margin: 0 1rem 1.3rem 0;
    }

    .user-profile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 1.8rem;
      margin-bottom: 1rem;

      .pp {
        background-image: url("../../assets//img/user.png");
        background-size: cover;
        border: 1.8px solid gray;
        height: 45px;
        width: 45px;
        border-radius: 100%;
        margin-right: 1rem;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h5 {
          color: gray;
          font-weight: 400;
        }

        p {
          color: rgba(255, 255, 255, 0.774);
          cursor: pointer;
          font-weight: 300;
        }
      }
    }

    .browse-section,
    .explore-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.7rem;
      width: 100%;

      p.head {
        padding: 0 0 0 1.8rem;
        color: gray;
        margin-bottom: 1rem;
      }

      p:not(.head) {
        color: white;
        font-size: 0.95rem;
        letter-spacing: 0.7px;
        padding: 1rem 1.8rem;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: gray;
        }
      }
    }

    .social-media {
      margin-left: 1.4rem;
      position: absolute;
      bottom: 2%;

      img {
        height: 1.4rem;
        cursor: pointer;

        &:not(:nth-child(1)) {
          margin: 0 1rem;
        }

        &:nth-child(1) {
          margin-right: 1rem;
          margin-left: 0.2rem;
        }
      }
    }

    @media only screen and (max-width: 1142px) {
      & {
        width: 30%;
      }
    }
    @media only screen and (max-width: 768px) {
      & {
        width: 40%;
      }
    }
  }

  @media only screen and (max-width: 570px) {
    & {
      background-color: #1a1a1a;

      .menu {
        width: 100%;

        .social-media {
          margin-bottom: 0.5rem;
          position: initial;
          padding: 2rem 0 1rem 0;
        }
      }
    }
  }
}
